<!DOCTYPE html>
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <title>Crystall Messager</title>

</head>
<body bgcolor="#d2ccea">
    <%- include("User/Header")-%>

    <div id="main">
        <p>Поздравляю вы на странице с группами!</p>
    </div>

</body>
</html>