<header>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <div id="logo">
        <a href="/" id="title" >Crystall Messager</a>
    </div>
    <ul id="menu">
        <li><a id="column" href="/Authorization">Авторизация</a></li>
        <li><a id="column" href="/Registration">Регистрация</a></li>
    </ul>
</header>