<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crystall Messager</title>

</head>
<body bgcolor="#d2ccea">
    <%- include("Header")-%>
    <form class="main-form" method="post" action="/check-user">
        <p id="name">Вход в Crystall Messager!</p>
        <label for="loginField" class="fieldLabel">Логин: </label>
        <input type="text" name="login" placeholder="Логин" id="loginField"><br><br>
        <button type="submit">Нажми на меня!</button>
</body>
</html>