<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="UTF-8">
    <title>Crystall Messager</title>

</head>
<body bgcolor="#d2ccea" class="body">
    <%- include("User/Header")-%>
 
    <div id="main">
        <p>Поздравляю вы на странице с сообщениями!</p>
    </div>
    <div id="messages">
        <textarea type="text" placeholder="Введите свое сообщение" id="messageInput" rows="4" ></textarea>
        <button id="messageButton" onClick="SendMessage()">Отправить сообщение</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="/User/SignalR.js"
    <script>
    </script>
</body>
</html>

