<header>
    <link rel="stylesheet" type="text/css" href="/css/User/style.css"/>
    <div id="logo">
        <a href="/User" id="title" >Crystall Messager</a>
        <a href="/User/News" id="title" >Новости</a>
        <a href="/User/Messages" id="title" >Сообщения</a>
        <a href="/User/Groups" id="title" >Группы</a>
    </div>
    <ul id="menu">

    </ul>
</header>